---
title: Home
---
{% include "head.njk" %}
{% include "header.njk" %}

<section class="mb-5">
  <h2>Welcome</h2>
  <p>This is the landing page for Scott Macdonald's personal site.</p>
</section>

{% include "footer.njk" %}
